<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  </head>
  <body>
    <h1>My Goals</h1>
    <hr>
    <div class="container">
      <div class="jumbotron">


      <div class="row">
        <app-goal-form (addGoal)="addNewGoal($event)"></app-goal-form>

      </div>
        </div>




      <div class="row"*ngFor = 'let goal of goals ;let i =index'>
       <h4 id ="{{i}}" appStrikethrough>{{goal.name}} due on {{goal.completeDate|date|uppercase}}</h4>
       <hr>
       <button (click)='toogleDetails(i)'>Toogle Details</button>

       <app-goal-details *ngIf="goal.showDescription" [goal] ='goal' (isComplete)= 'deleteGoal($event,i)'></app-goal-details>
      </div>

    <p *ngIf='goals.length > 5'>You have too many goals</p>
    </div>


  </body>
</html>
